@import "../node_modules/tachyons";
@import "../node_modules/ipfs-css";
@import './animations.css';

.App {
  background: rgb(2,46,68);
  background: linear-gradient(120deg, rgba(2,46,68,1) 70%, rgba(102,208,219,1) 70%);
}

@media (max-width: 60em) {
  .App {
    background: rgb(2, 46, 68);
  }
}

.link {
  position: relative;
}

.link::after {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1px;

  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  background-color: white;
}

.link:focus::after,
.link:hover::after {
  opacity: 1;
}

.unstyled-button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.unstyled-button:focus {
  outline: 1px solid rgba(255, 255, 255, 0.2);
}
